html, .root {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

body {
    font: menu;
    font-size: 1rem;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

section {
    padding-top: 4rem;
    width: 50%;
    margin: auto;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }
  
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

details summary::-webkit-details-marker {
    display: none;
}

details summary {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
}